* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  place-items: center;
  width: 100vw;
  height: 100vh;
 
}

body {
  background-color: hsl(216, 12%, 8%);
   font-family: 'Overpass', sans-serif;
}

/* nteractive board first */

.interactive_board {
  width: 25.75rem;
  height: 26rem;
  max-width: 26rem;
  padding: 1.18rem 2.438rem 2rem 2rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
}

.star_symbol {
  height: 3rem;
  width: 3rem;
  background: #262e38;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.heading {
  color: #ffffff;
  font-weight: 700;
  margin-top: 1.875rem;
  float: left;
  text-align: left;
  height: 3rem;
  font-size: 1.75rem;
  font-family: "Overpass", sans-serif;
  font-;
}

.feedback_question {
  height: 4rem;
  margin-top: 0.438rem;
  font-weight: 400;
  text-align: left;
  color: #969fad;
  font-size: 0.938rem;
  line-height: 1.5em;
}

.rating_component {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.rating_component input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.rating_component label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262e38;
  color: hsl(217, 12%, 63%);
  padding: 10px 20px;
  font-family: "Overpass";
  font-size: 0.9rem;
  border-radius: 2em;

  height: 3.188rem;
  width: 3.188rem;
}

.rating_component input[type="radio"]:checked + label {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.rating_component label:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.button {
  background-color: orange;
  text-decoration: none;
  color: white;
  padding: 10px;
  height: 2.813rem;
  border-radius: 1rem;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 0.928rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

/*feedback card styles*/

.feedback_image {
  width: 10rem;
  height: 7rem;
}

.feedback_mark {
  color: hsl(25, 97%, 53%);
   margin-top: 2rem;
  padding-top:;
  
  background: #262e38;
  display: flex;
  text-align: center;
  justify-content: center;
  place-items: center;
  border-radius: 0.8rem;
  width: 12.063rem;
  height: 2rem;
}

h2 {
  color: white;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
  padding-bottom: 1rem;
}

.feedback_phrase {
  height: 4rem;
  font-weight: 400;
  text-align: center;
  color: #969fad;
  font-size: 1rem;
  line-height: 1.5em;
  font-size: 0.938rem;
}

#second {
  align-items: center;
  text-align: center;
}

.hide {
  display: none;
}
